

/*#region Background*/
.backhome {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Cyber', sans-serif;
  background: linear-gradient(90deg, #000000 50%, #110518 80%), #242324;
  --primary-hue: #000000;
  --second-hue: #110518;
  --third-hue: #242324;
  animation: backmove 6s infinite;
  }

  @keyframes backmove {
    0% {background: linear-gradient(90deg, --primary-hue 50%,  --second-hue 80%),   --third-hue;}
    5% {background: linear-gradient(90deg, --primary-hue 48%,  --second-hue 79%),   --third-hue;}
    10% {background: linear-gradient(90deg, --primary-hue0 46%,  --second-hue 78%),   --third-hue;}
    15% {background: linear-gradient(90deg, --primary-hue 44%,  --second-hue 77%),   --third-hue;}
    20% {background: linear-gradient(90deg, --primary-hue 42%, --second-hue 76%),   --third-hue;}
    25% {background: linear-gradient(90deg, --primary-hue 40%, --second-hue 75%),   --third-hue;}
    30% {background: linear-gradient(90deg, --primary-hue 38%, --second-hue 74%),   --third-hue;}
    35% {background: linear-gradient(90deg, --primary-hue 36%, --second-hue 73%),   --third-hue;}
    40% {background: linear-gradient(90deg, --primary-hue 34%, --second-hue 72%),   --third-hue;}
    45% {background: linear-gradient(90deg, --primary-hue 32%, --second-hue 71%),   --third-hue;}
    50% {background: linear-gradient(90deg, --primary-hue 30%, --second-hue 70%),   --third-hue;}
    55% {background: linear-gradient(90deg, --primary-hue 32%, --second-hue 71%),   --third-hue;}
    60% {background: linear-gradient(90deg, --primary-hue 34%, --second-hue 72%),   --third-hue;}
    65% {background: linear-gradient(90deg, --primary-hue 36%, --second-hue 73%),   --third-hue;}
    70% {background: linear-gradient(90deg, --primary-hue 38%, --second-hue 74%),   --third-hue;}
    75% {background: linear-gradient(90deg, --primary-hue 40%, --second-hue 75%),   --third-hue;}
    80% {background: linear-gradient(90deg, --primary-hue 42%, --second-hue 76%),   --third-hue;}
    85% {background: linear-gradient(90deg, --primary-hue 44%, --second-hue 77%),   --third-hue;}
    90% {background: linear-gradient(90deg, --primary-hue 46%, --second-hue 78%),   --third-hue;}
    95% {background: linear-gradient(90deg, --primary-hue 48%, --second-hue 79%),   --third-hue;}
    100% {background: linear-gradient(90deg, --primary-hue 50%, --second-hue 80%),   --third-hue;}
  }
  
.backAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #ffffff 50%, #ffdbdb 80%), #ffaaaa;
  --primary-hue: #ffffff;
  --second-hue: #ffdbdb;
  --third-hue: #ffaaaa;
  animation: backmove 6s infinite;
}

.backQual
{

  background:#36052a;

}

.SkillsBody{
  background-color: #ffffff;
}

/*#endregion Background*/



/*#region GetInTouchButton */

.GetInTouchButton{
  position: absolute;
  right: 0%;
  width: 14%;
  height: 20%;
  bottom: 2%;
  font-family: 'Cyber', sans-serif;
  clip-path: polygon(90% 80%, 90% 100%, 50% 100%, 50% 80%);
  border-radius: 20px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  text-align: center;
}

.GetInTouchText{
position: fixed;
display: flex;
top: 94%;
right: 1.8%;
}

.GetInTouchDescription{
  display: none;
}

.GetInTouchButton:hover .GetInTouchText{
  display: none;
}
.GetInTouchButton:hover .GetInTouchDescription{
display: flex;
}

.GetInTouchButton:hover{
  position: absolute;
  right: 2%;
  width: 13%;
  height: 15%;
  bottom: 2%;
  font-family: 'Cyber', sans-serif;
  clip-path: circle(100%);
  border-radius: 20px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  outline: none;

}

@media only screen and (max-width: 450px) {
  .GetInTouchButton{
    position: absolute;
    right: 0%;
    width: 50%;
    height: 20%;
    bottom: 2%;
    font-family: 'Cyber', sans-serif;
    clip-path: polygon(100% 80%, 100% 100%, 50% 100%, 50% 80%);
    border-radius: 20px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
    background: #ffffff;
    text-align: center;
  }


.GetInTouchButton:hover{
  position: absolute;
  right: 0%;
  width: 62%;
  height: 12%;
  bottom: 2%;
  font-family: 'Cyber', sans-serif;
  clip-path: circle(100%);
  border-radius: 20px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
  background: #ffffff;
}

}

/*#endregion GetInTouchButton */



/*#region Logos*/
.LogoHome{
    margin: 0;
    margin-bottom: 4rem;
    padding-top: 2rem;
    text-align: center;


}

.LogoHomepng{
  width: 70%;
}


@media only screen and (min-width: 450px) {
  .LogoHome{
  }

  .LogoHomepng{
    width: 70%;
  }
}

/*#endregion Logos*/



/*#region Clitch_Buttons */

@font-face {
font-family: Cyber;
src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
font-display: swap;
}

* {
box-sizing: border-box;
}



.cybr-btn + .cybr-btn {
margin-top: 2rem;
}

.cybr-btn {
  margin-top: 2rem;
--primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
--shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
--primary-hue: 490;
--primary-lightness: 60;
--color: hsl(0, 0%, 100%);
--font-size: 26px;
--shadow-primary-hue: 260;
--label-size: 9px;
--shadow-secondary-hue: 60;
--shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
--clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
--border: 4px;
--shimmy-distance: 5;
--clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
--clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
--clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
--clip-four: polygon(0 -5%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
--clip-five: polygon(0 -4%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
--clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
--clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
font-family: 'Cyber', sans-serif;
color: var(--color);
cursor: pointer;
background: transparent;
text-transform: uppercase;
font-size: var(--font-size);
outline: transparent;
letter-spacing: 2px;
position: relative;
font-weight: 700;
border: 0;
min-width: 300px;
height: 75px;
line-height: 75px;
transition: background 0.2s;
}



.cybr-btn-small{
position: absolute;
top: calc(var(--border) * -1);
left: calc(var(--border) * -1);
right: calc(var(--border) * -1);
bottom: calc(var(--border) * -1);
}

.cybr-btn:hover {
--primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}
.cybr-btn:active {
--primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.cybr-btn:after,
.cybr-btn:before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
clip-path: var(--clip);
z-index: -1;
}

.cybr-btn:before {
background: var(--shadow-primary);
transform: translate(var(--border), 0);
}

.cybr-btn:after {
background: var(--primary);
}

.cybr-btn__tag {
position: absolute;
padding: 1px 4px;
letter-spacing: 1px;
line-height: 1;
bottom: -5%;
right: 5%;
font-weight: normal;
color: hsl(0, 0%, 100%);
font-size: var(--label-size);
}

.cybr-btn__glitch {
position: absolute;
top: calc(var(--border) * -1);
left: calc(var(--border) * -1);
right: calc(var(--border) * -1);
bottom: calc(var(--border) * -1);
background: var(--shadow-primary);
text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
clip-path: var(--clip);
animation: glitch 3s infinite;
display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
display: block;
}

.cybr-btn__glitch:before {
content: '';
position: absolute;
top: calc(var(--border) * 1);
right: calc(var(--border) * 1);
bottom: calc(var(--border) * 1);
left: calc(var(--border) * 1);
clip-path: var(--clip);
background: var(--primary);
z-index: -1;
}


@keyframes glitch {
0% {
  clip-path: var(--clip-one);
}
2%, 8% {
  clip-path: var(--clip-two);
  transform: translate(calc(var(--shimmy-distance) * -1%), 0);
}
6% {
  clip-path: var(--clip-two);
  transform: translate(calc(var(--shimmy-distance) * 1%), 0);
}
9% {
  clip-path: var(--clip-two);
  transform: translate(0, 0);
}
10% {
  clip-path: var(--clip-three);
  transform: translate(calc(var(--shimmy-distance) * 1%), 0);
}
13% {
  clip-path: var(--clip-three);
  transform: translate(0, 0);
}
14%, 21% {
  clip-path: var(--clip-four);
  transform: translate(calc(var(--shimmy-distance) * 1%), 0);
}
25% {
  clip-path: var(--clip-five);
  transform: translate(calc(var(--shimmy-distance) * 1%), 0);
}
30% {
  clip-path: var(--clip-five);
  transform: translate(calc(var(--shimmy-distance) * -1%), 0);
}
35%, 45% {
  clip-path: var(--clip-six);
  transform: translate(calc(var(--shimmy-distance) * -1%));
}
40% {
  clip-path: var(--clip-six);
  transform: translate(calc(var(--shimmy-distance) * 1%));
}
50% {
  clip-path: var(--clip-six);
  transform: translate(0, 0);
}
55% {
  clip-path: var(--clip-seven);
  transform: translate(calc(var(--shimmy-distance) * 1%), 0);
}
60% {
  clip-path: var(--clip-seven);
  transform: translate(0, 0);
}
31%, 61%, 100% {
  clip-path: var(--clip-four);
}
}


/*#endregion Clitch_Buttons */


/*#region Clitchy_Menu */

.cybr-btn_menu{
  margin-top: 2rem;
--primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
--shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
--primary-hue: 490;
--primary-lightness: 60;
--color: hsl(0, 0%, 100%);
--font-size: 26px;
--shadow-primary-hue: 260;
--label-size: 9px;
--shadow-secondary-hue: 60;
--shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
--clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
--border: 4px;
--shimmy-distance: 5;
--clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
--clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
--clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
--clip-four: polygon(0 -5%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
--clip-five: polygon(0 -4%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
--clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
--clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
font-family: 'Cyber', sans-serif;
color: var(--color);
cursor: pointer;
background: transparent;
text-transform: uppercase;
font-size: var(--font-size);
outline: transparent;
letter-spacing: 2px;
position: relative;
font-weight: 700;
border: 0;
min-width: 300px;
height: 75px;
line-height: 75px;
transition: background 0.2s;
}

.cybr-btn_menu:hover {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}
.cybr-btn_menu:active {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}
  
.cybr-btn_menu:after,
.cybr-btn_menu:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}
  
.cybr-btn_menu:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}
  
.cybr-btn_menu:after {
  background: var(--primary);
}

.cybr-btn_menu:hover .cybr-btn__glitch {
  display: block;
}

@media only screen and (max-width: 450px) {
  .cybr-btn_menu{
    --border: 2px;
    margin-top: 1rem;
    
    
  }
}


/*#endregion Clitchy_Menu */


/*#region Info_Button */

.card {
  position: absolute;
  left: 0rem;
  bottom: 0.5rem;
  padding: 42px 30px;
  -webkit-clip-path: circle(4% at 7% 85%);
          clip-path: circle(4% at 7% 85%);
  transition: all ease-in-out 0.5s;
  background-color: #ffffff;
  animation: Bounce 2s infinite;
--primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
--shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
--primary-hue: 40;
--primary-lightness: 60;
--color: hsl(0, 0%, 0%);
--shadow-primary-hue: 260;
--shadow-secondary-hue: 60;
--shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
--clip: polygon(0 5%, 500% 0, 500% 100%, 555% 500%, 925% 905%, 85% 90%, 85% 100%, 800% 102%, 0 10%);
--shimmy-distance: 5;
--clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 80%, 85% 95%, 8% 95%, 0 70%);
--clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
--clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
--clip-four: polygon(0% 95%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
--clip-five: polygon(0 80%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
--clip-six: polygon(0 20%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
--clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
font-family: 'Cyber', sans-serif;
color: var(--color);
text-transform: uppercase;
font-size: var(--font-size);
outline: transparent;
border: 0;
transition: background 0.2s;
}

.card__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
  }

  .card:hover .card__glitch {
    display: block;
    }
    
    .card__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
    }


.card__title {
  margin: 0;
  font-size: 3em;
  line-height: 1.8;
}
.card__description {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.6;
}

.card__reference {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: #721285;
  text-decoration: none;
  transition: ease-in 0.3s;
}
.card__reference:hover {
  border-bottom-color: #721285;
}
.card:hover, .card:focus {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
  border-radius: 20px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  outline: none;
  animation: Bounce step-start;
}

.card:focus {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08), 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
}

@keyframes Bounce {
  0% {
    bottom: 1rem;
  }
  5% {
    bottom: 0.90rem;
  }
  10% {
    bottom: 0.80rem;
  }
  15% {
    bottom: 0.70rem;
  }
  20% {
    bottom: 0.60rem;
  }
  25% {
    bottom: 0.50rem;
  }
  30% {
    bottom: 0.40rem;
  }
  35% {
    bottom: 0.30rem;
  }
  40% {
    bottom: 0.20rem;
  }
  45% {
    bottom: 0.10rem;
  }
  50% {
    bottom: -0rem;
  }
  55% {
    bottom: 0.20em;
  }
  60% {
    bottom: 0.30rem;
  }
  75% {
    bottom: 0.40rem;
  }
  70% {
    bottom: 0.50rem;
  }
  75% {
    bottom: 0.60rem;
  }
  80% {
    bottom: 0.7rem;
  }
  85% {
    bottom: 0.8rem;
  }
  90% {
    bottom: 0.9rem;
  }
  100% {
    bottom: 1rem;
  }

}

/*#endregion Info_Button */



/*#region glitch_rotated */


.glitch_rotated{
  margin-top: 0rem;
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 460;
  --primary-lightness: 60;
  --color: #ffaaaa;
  --font-size: 26px;
  --shadow-primary-hue: 00;
  --label-size: 100px;
  --shadow-secondary-hue: #ffaaaa;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 9px;
  --shimmy-distance: 4;
  --clip-one: polygon(0 8%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 10% 95%, 0 10%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 0% 100%, 0 10%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 100%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 0% 54%, 0 10%);
  --clip-four: polygon(0 -5%, 100% 0, 100% 0, 95% 0, 95% 0, 95% 0, 85% 0, 8% 0, 0% 0);
  --clip-five: polygon(0 -4%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0% 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 0% 80%, 0 10%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 0% 80%, 0 10%);

  font-family: 'Cyber', sans-serif;
  color: var(--color);
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: fixed;
  font-weight: 700;
  border: 0;
  min-width: 900px;
  height: 75px;
  line-height: 100px;
  transition: background 0.2s;
  

}

.glitch_rotated__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: red;
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 5s infinite; 
  }


/*#endregion glitch_rotated */



/*#region Goose */
.Goose{
  margin-left: -43rem;
  margin-top: 8rem;
}

/*#endregion Goose */



/*#region AboutText */
.AboutText{
  font-size: 120%;
  text-align: left;
  position: fixed;
  margin-left: 0rem;
  margin-top: 8rem;
  width: 39rem;
  
  
}

/*#endregion AboutText */



/*#region Sidebox */

ul 
{
  position: fixed;
  padding: 3rem;
  font-size: 2rem;
}

.SideBox
{
  position: fixed;
  margin-top: -15rem;
  margin-left: 50rem;
}

/*#endregion Sidebox */



/*#region Whale And Water */




.Box{
  margin-top: 26.6rem;
  border-top: 5px solid #333;
  z-index:-3;
  position: fixed;
}


.Water{
position: fixed;
margin-top: 26.6rem;
border-top: 5px solid #333;
opacity: 0.2;
z-index: -1;
}

.WaterSlide{
  position: relative;
  overflow: hidden;

}

.images
{
  align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 20s linear infinite;
}

@keyframes slideshow {
  0% {left: 0%}
  100% {left: -100%;}
}

.scene {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.upper {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.moon {
  width: 400px;
  height: 400px;
  border-radius:50%;
  background-color: deeppink;
  position: absolute;
  bottom: -150px;
  left: 50px;
  border: 5px solid #333;
  box-sizing: border-box;
  box-shadow: inset 0 -160px mediumvioletred;
  opacity: 0.9;
}

.crater1 {
  width: 20px;
  height: 20px;
  border-radius: 50% ;
  position: absolute;
  top: 20px;
  right: 150px;
  background-color: mediumvioletred;
  opacity: 0.2;
  border: 1px solid #333;
}

.crater2 {
  width: 50px;
  height: 50px;
  border-radius: 50% ;
  position: absolute;
  top: 70px;
  right: 180px;
  background-color: mediumvioletred;
  opacity: 0.2;
  border: 1px solid #333;
}

.cloud1 {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 100px;
  right: -50px;
  animation: float2 4s ease-in-out infinite alternate;
}

.cloud2 {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  animation: float1 4s ease-in-out infinite alternate;
}

@keyframes float1 {
  from {transform: translateX(-50px);}
  to {transform: translateX(50px);}
}

@keyframes float2 {
  from {transform: translateX(50px);}
  to {transform: translateX(-50px);}
}

.circle {
  width: 90px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 60px;
  border-radius: 50%;
  background-color: #f844d4;
}

.circle::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30px;
  left: -40px;
  border-radius: 50%;
  background-color: #f844d4;
}

.circle::after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30px;
  left: 40px;
  border-radius: 50%;
  background-color: #f844d4;
}

.filler {
  width: 145px;
  height: 40px;
  border-radius: 17px;
  position: absolute;
  top: 70px;
  left: 28px;
  background-color: #f844d4;
  box-shadow: inset 0 -5px #d433b4;
}

.star1 {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: #6044f4;
  position: absolute;
  top: 20px;
  right: 0;
  animation: twinkle 1s  0.5s linear infinite alternate;
}

.star1::after {
  content: "";
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: #6044f4;
  position: absolute;
  top: -7px;
  right: 8px;
  animation: twinkle 1s  0.5s linear infinite alternate;
}

.star2 {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: #6044f4;
  position: absolute;
  top: -20px;
  right: 200px;
  animation: twinkle 1s  0.5s linear infinite alternate;
}

.star2::after {
  content: "";
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: #6044f4;
  position: absolute;
  top: -7px;
  right: 8px;
  animation: twinkle 1s  0.5s linear infinite alternate;
}

.star3 {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: #6044f4;
  position: absolute;
  top: 130px;
  left: -20px;
  animation: twinkle 1s  0.5s linear infinite alternate;
}

.star3::after {
  content: "";
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: #6044f4;
  position: absolute;
  top: -7px;
  left: 8px;
  animation: twinkle 1s  0.5s linear infinite alternate;
}

@keyframes twinkle {
  to {background-color: #f844d4;}
}

.tail {
  width: 150px;
  height: 120px;
  position: absolute;
  bottom: -20px;
  left: 2px;
}

.left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #6044f4;
  position: absolute;
  top: 20px;
  left: 25px;
  border: 1px solid #333;
  z-index: 1;
}

.left::before {
  content: "";
  width: 60px;
  height: 90px;
  border-bottom: 60px solid #6044f4;
  border-radius: 0 0 0 100%;
  position: absolute;
  top: -32px;
  left: -30px;
  animation: excite1 2s infinite alternate linear;
  transform-origin: right;
}

@keyframes excite1 {
  to {transform: rotateZ(-5deg);}
}

.right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #6044f4;
  position: absolute;
  top: 20px;
  right: 25px;
  border: 1px solid #333;
  z-index: 1;
}

.right::after {
  content: "";
  width: 60px;
  height: 90px;
  border-bottom: 60px solid #6044f4;
  border-radius: 0 0 100% 0;
  position: absolute;
  top: -31px;
  right: -30px;
  animation: excite2 2s linear alternate infinite;
  transform-origin: left;
}

@keyframes excite2 {
  to {transform: rotateZ(5deg);}
}


.body {
  height: 80px;
  width: 58px;
  border-radius: 25px;
  position: absolute;
  bottom: -18px;
  left: 54px;
  background-color: #6044f4;
  transform: rotateZ(-10deg);
  border: 2px solid #333;
}

.drop {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: rgb(204, 43, 204);
  position: absolute;
  bottom: -25px;
  right: 180px;
  animation: spray 3s ease-out infinite;
}

.drop::before {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(204, 43, 204);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: spray 3s 0.3s ease-out infinite;
}

.drop::after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(204, 43, 204);
  position: absolute;
  bottom: 0;
  right: 0;
  animation: spray 3s 0.7s ease-out infinite;
}

@keyframes spray {
  0% {transform: translateY(0);}
  30% {transform: translateY(-100px);}
  60% {transform: translateY(0);}
}


.lower {
  width: 100%;
  height: 203px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 5px solid #333;
  overflow: hidden;
}

.whale {
  width: 400px;
  height: 400px;
  border-radius: 300px;
  position: absolute;
  top: -250px;
  left: 50px;
  background-color: #6044f4;
  box-shadow: inset 0 -10px #6044f4;
  border: 5px solid #333;
  box-sizing: border-box;
  overflow: hidden;
}

.eye {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 110px;
  right: 120px;
  background-color: #333;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {transform: scaleY(0.1);}
  5% {transform: scaleY(0.1);}
  5.1% {transform: scaleY(1);}
}

.detail1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 0px;
  background-color: rgb(153, 180, 216);
  overflow: hidden;
  border: 2px solid #333;
  box-sizing: border-box;
}

.fin {
  width: 50px;
  height: 120px;
  border-radius: 40px;
  position: absolute;
  bottom: 0;
  right: 180px;
  background-color: #6044f4;
  border: 5px solid #333;
  border-top: 5px solid transparent;
  transform: rotateZ(15deg);
  box-shadow: inset 0 -10px darkslateblue;
  animation: swim 2s linear infinite alternate;
  transform-origin: top;
}

@keyframes swim {
  to {transform: rotateZ(20deg);}
}

.detail2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 30px;
  border-bottom: 8px solid #333;
  border-right: 8px solid #333;
  transform: rotateZ(-50deg);
}

.detail2::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 10px;
  border-bottom: 8px solid #333;
  border-right: 8px solid #333;
}

.detail2::after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 0;
  border-bottom: 8px solid #333;
  border-right: 8px solid #333;
}

/*#endregion Whale And Water*/



/*#region TextSkills */


@font-face {
  font-family: 'Lobster Two', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,700&display=swap');
  font-display: swap;
}

.TextHeadline{
  position: fixed;
  font-size: 800%;
  color: #ffffff;
  top: 23%;
  left: 3%;
  font-family: 'Lobster Two', cursive;
}

.FrontHead{
padding-bottom: 18%;
}

.TextNormal{
  position: fixed;
  font-size: 200%;
  color: #ffffff;
  font-family: 'Lobster Two', cursive;
  width: 30%;
  left: 73%;
  top: 25%;
}

.FrontNormal{
  padding-bottom: 20%;

}


/*#endregion TextSkills */



/*#region PastelBoxes */

.BlueBoxes{

    height: 100%;

}

.PastelBlueBox{
  position: fixed;
  border: 7px solid rgb(0, 0, 0);
  z-index: -3;
}

.BoxBigText1{
  position: fixed;
  width: 30%;
  top: 24%;
  left: 61%;
  font-size: 200%;
}

.BoxText1{
  position: fixed;
  width: 30%;
  top: 30%;
  left: 61%;
}

.BoxBigText2{
  position: fixed;
  width: 23%;
  top: 61%;
  left: 41%;
  font-size: 200%;
}

.BoxText2{
  position: fixed;
  width: 23%;
  top: 67%;
  left: 41%;
}

.BoxBigText3{
  position: fixed;
  width: 30%;
  top: 28%;
  left: 2%;
  font-size: 200%;
}

.BoxText3{
  position: fixed;
  width: 20%;
  top: 35%;
  left: 2%;
}

.ImageRotation{
  position: fixed;
  animation: Rotation 7s linear infinite;
  animation-delay: -3s;
  z-index: -1;
  transform: rotate(20deg);
}

@keyframes Rotation {
  0% {left: 28%; top: -10%;}
  10% {left: 30%; top: 5%;}
  20% {left: 31%; top: 20%;}
  30% {left: 32%; top: 35%;}
  40% {left: 34%; top: 50%;}
  50% {left: 33.5%; top: 65%;}
  60% {left: 30.5%; top: 80%;}
  70% {left: 28.5%; top: 95%;}
  80% {left: 25.5%; top: 110%;}
  90% {left: 23.5%; top: 125%;}
  100% {left: 21.5%; top: 140%;}
}

/*#endregion PastelBoxes */



