

/*#region Background*/
.backhome {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Cyber', sans-serif;
  background: linear-gradient(90deg, #000000 50%, #110518 80%), #242324;
  --primary-hue: #000000;
  --second-hue: #110518;
  --third-hue: #242324;
  animation: backmove 4s infinite;
  }

  @keyframes backmove {
    0% {background: linear-gradient(90deg, --primary-hue 50%,  --second-hue 80%),   --third-hue;}
    5% {background: linear-gradient(90deg, --primary-hue 48%,  --second-hue 79%),   --third-hue;}
    10% {background: linear-gradient(90deg, --primary-hue0 46%,  --second-hue 78%),   --third-hue;}
    15% {background: linear-gradient(90deg, --primary-hue 44%,  --second-hue 77%),   --third-hue;}
    20% {background: linear-gradient(90deg, --primary-hue 42%, --second-hue 76%),   --third-hue;}
    25% {background: linear-gradient(90deg, --primary-hue 40%, --second-hue 75%),   --third-hue;}
    30% {background: linear-gradient(90deg, --primary-hue 38%, --second-hue 74%),   --third-hue;}
    35% {background: linear-gradient(90deg, --primary-hue 36%, --second-hue 73%),   --third-hue;}
    40% {background: linear-gradient(90deg, --primary-hue 34%, --second-hue 72%),   --third-hue;}
    45% {background: linear-gradient(90deg, --primary-hue 32%, --second-hue 71%),   --third-hue;}
    50% {background: linear-gradient(90deg, --primary-hue 30%, --second-hue 70%),   --third-hue;}
    55% {background: linear-gradient(90deg, --primary-hue 32%, --second-hue 71%),   --third-hue;}
    60% {background: linear-gradient(90deg, --primary-hue 34%, --second-hue 72%),   --third-hue;}
    65% {background: linear-gradient(90deg, --primary-hue 36%, --second-hue 73%),   --third-hue;}
    70% {background: linear-gradient(90deg, --primary-hue 38%, --second-hue 74%),   --third-hue;}
    75% {background: linear-gradient(90deg, --primary-hue 40%, --second-hue 75%),   --third-hue;}
    80% {background: linear-gradient(90deg, --primary-hue 42%, --second-hue 76%),   --third-hue;}
    85% {background: linear-gradient(90deg, --primary-hue 44%, --second-hue 77%),   --third-hue;}
    90% {background: linear-gradient(90deg, --primary-hue 46%, --second-hue 78%),   --third-hue;}
    95% {background: linear-gradient(90deg, --primary-hue 48%, --second-hue 79%),   --third-hue;}
    100% {background: linear-gradient(90deg, --primary-hue 50%, --second-hue 80%),   --third-hue;}
  }
  
.backAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #ffffff 50%, #e28585 80%), #b82e2e;
  --primary-hue: #ffffff;
  --second-hue: #ca5454;
  --third-hue: #850c0c;
  animation: backmove 4s infinite;
}

/*#endregion Background*/


/*#region Logos*/
.LogoHome{
    margin: 0;
    margin-bottom: 2rem;
    padding-top: 3rem;
    text-align: center;

}
/*#endregion Logos*/



/*#region Clitch_Buttons */

@font-face {
font-family: Cyber;
src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
font-display: swap;
}

* {
box-sizing: border-box;
}



.cybr-btn + .cybr-btn {
margin-top: 2rem;
}

.cybr-btn {
  margin-top: 2rem;
--primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
--shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
--primary-hue: 490;
--primary-lightness: 60;
--color: hsl(0, 0%, 100%);
--font-size: 26px;
--shadow-primary-hue: 260;
--label-size: 9px;
--shadow-secondary-hue: 60;
--shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
--clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
--border: 4px;
--shimmy-distance: 5;
--clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
--clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
--clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
--clip-four: polygon(0 -5%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
--clip-five: polygon(0 -4%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
--clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
--clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
font-family: 'Cyber', sans-serif;
color: var(--color);
cursor: pointer;
background: transparent;
text-transform: uppercase;
font-size: var(--font-size);
outline: transparent;
letter-spacing: 2px;
position: relative;
font-weight: 700;
border: 0;
min-width: 300px;
height: 75px;
line-height: 75px;
transition: background 0.2s;
}

.cybr-btn:hover {
--primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}
.cybr-btn:active {
--primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.cybr-btn:after,
.cybr-btn:before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
clip-path: var(--clip);
z-index: -1;
}

.cybr-btn:before {
background: var(--shadow-primary);
transform: translate(var(--border), 0);
}

.cybr-btn:after {
background: var(--primary);
}

.cybr-btn__tag {
position: absolute;
padding: 1px 4px;
letter-spacing: 1px;
line-height: 1;
bottom: -5%;
right: 5%;
font-weight: normal;
color: hsl(0, 0%, 100%);
font-size: var(--label-size);
}

.cybr-btn__glitch {
position: absolute;
top: calc(var(--border) * -1);
left: calc(var(--border) * -1);
right: calc(var(--border) * -1);
bottom: calc(var(--border) * -1);
background: var(--shadow-primary);
text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
clip-path: var(--clip);
animation: glitch 3s infinite;
display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
display: block;
}

.cybr-btn__glitch:before {
content: '';
position: absolute;
top: calc(var(--border) * 1);
right: calc(var(--border) * 1);
bottom: calc(var(--border) * 1);
left: calc(var(--border) * 1);
clip-path: var(--clip);
background: var(--primary);
z-index: -1;
}


@keyframes glitch {
0% {
  clip-path: var(--clip-one);
}
2%, 8% {
  clip-path: var(--clip-two);
  transform: translate(calc(var(--shimmy-distance) * -1%), 0);
}
6% {
  clip-path: var(--clip-two);
  transform: translate(calc(var(--shimmy-distance) * 1%), 0);
}
9% {
  clip-path: var(--clip-two);
  transform: translate(0, 0);
}
10% {
  clip-path: var(--clip-three);
  transform: translate(calc(var(--shimmy-distance) * 1%), 0);
}
13% {
  clip-path: var(--clip-three);
  transform: translate(0, 0);
}
14%, 21% {
  clip-path: var(--clip-four);
  transform: translate(calc(var(--shimmy-distance) * 1%), 0);
}
25% {
  clip-path: var(--clip-five);
  transform: translate(calc(var(--shimmy-distance) * 1%), 0);
}
30% {
  clip-path: var(--clip-five);
  transform: translate(calc(var(--shimmy-distance) * -1%), 0);
}
35%, 45% {
  clip-path: var(--clip-six);
  transform: translate(calc(var(--shimmy-distance) * -1%));
}
40% {
  clip-path: var(--clip-six);
  transform: translate(calc(var(--shimmy-distance) * 1%));
}
50% {
  clip-path: var(--clip-six);
  transform: translate(0, 0);
}
55% {
  clip-path: var(--clip-seven);
  transform: translate(calc(var(--shimmy-distance) * 1%), 0);
}
60% {
  clip-path: var(--clip-seven);
  transform: translate(0, 0);
}
31%, 61%, 100% {
  clip-path: var(--clip-four);
}
}


/*#endregion Clitch_Buttons */



/*#region Info_Button */

.card {
  position: absolute;
  left: 0rem;
  bottom: 0.5rem;
  padding: 42px 30px;
  -webkit-clip-path: circle(4% at 7% 85%);
          clip-path: circle(4% at 7% 85%);
  transition: all ease-in-out 0.3s;
  background-color: #ffffff;
  animation: Bounce 2s infinite;
--primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
--shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
--primary-hue: 40;
--primary-lightness: 60;
--color: hsl(0, 0%, 0%);
--shadow-primary-hue: 260;
--shadow-secondary-hue: 60;
--shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
--clip: polygon(0 5%, 500% 0, 500% 100%, 555% 500%, 925% 905%, 85% 90%, 85% 100%, 800% 102%, 0 10%);
--shimmy-distance: 5;
--clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 80%, 85% 95%, 8% 95%, 0 70%);
--clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
--clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
--clip-four: polygon(0% 95%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
--clip-five: polygon(0 80%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
--clip-six: polygon(0 20%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
--clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
font-family: 'Cyber', sans-serif;
color: var(--color);
text-transform: uppercase;
font-size: var(--font-size);
outline: transparent;
border: 0;
transition: background 0.2s;
}

.card__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
  }

  .card:hover .card__glitch {
    display: block;
    }
    
    .card__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
    }


.card__title {
  margin: 0;
  font-size: 3em;
  line-height: 1.8;
}
.card__description {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.6;
}

.card__reference {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: #721285;
  text-decoration: none;
  transition: ease-in 0.3s;
}
.card__reference:hover {
  border-bottom-color: #721285;
}
.card:hover, .card:focus {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
  border-radius: 20px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  outline: none;
  animation: Bounce step-start;
}

.card:focus {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08), 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
}

@keyframes Bounce {
  0% {
    bottom: 1rem;
  }
  5% {
    bottom: 0.90rem;
  }
  10% {
    bottom: 0.80rem;
  }
  15% {
    bottom: 0.70rem;
  }
  20% {
    bottom: 0.60rem;
  }
  25% {
    bottom: 0.50rem;
  }
  30% {
    bottom: 0.40rem;
  }
  35% {
    bottom: 0.30rem;
  }
  40% {
    bottom: 0.20rem;
  }
  45% {
    bottom: 0.10rem;
  }
  50% {
    bottom: -0rem;
  }
  55% {
    bottom: 0.20em;
  }
  60% {
    bottom: 0.30rem;
  }
  75% {
    bottom: 0.40rem;
  }
  70% {
    bottom: 0.50rem;
  }
  75% {
    bottom: 0.60rem;
  }
  80% {
    bottom: 0.7rem;
  }
  85% {
    bottom: 0.8rem;
  }
  90% {
    bottom: 0.9rem;
  }
  100% {
    bottom: 1rem;
  }

}

/*#endregion Info_Button */



/*#region glitch_rotated */


.glitch_rotated{
  margin-top: 0rem;
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 490;
  --primary-lightness: 60;
  --color: #850c0c;
  --font-size: 26px;
  --shadow-primary-hue: 260;
  --label-size: 100px;
  --shadow-secondary-hue: 0;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 9px;
  --shimmy-distance: 4;
  --clip-one: polygon(0 8%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 10% 95%, 0 10%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 0% 100%, 0 10%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 100%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 0% 54%, 0 10%);
  --clip-four: polygon(0 -5%, 100% 0, 100% 0, 95% 0, 95% 0, 95% 0, 85% 0, 8% 0, 0% 0);
  --clip-five: polygon(0 -4%, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0% 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 0% 80%, 0 10%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 0% 80%, 0 10%);

  font-family: 'Cyber', sans-serif;
  color: var(--color);
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: fixed;
  font-weight: 700;
  border: 0;
  min-width: 900px;
  height: 75px;
  line-height: 100px;
  transition: background 0.2s;
  

}

.glitch_rotated__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 5s infinite; 
  }


/*#endregion glitch_rotated */


/*#region Goose */
.Goose{
  margin-left: -40rem;
  margin-top: 7rem;
}

/*#endregion Goose */


